<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gdelataillade.alarm">
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <!-- For apps with targetSDK=31 (Android 12) -->
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
  <application>
    <service android:name=".notification.NotificationOnKillService" android:exported="false"/>
    <receiver android:name=".notification.BedtimeNotificationReceiver" android:exported="false"/>
    <receiver android:name=".alarm.AlarmReceiver" android:exported="false"/>
    <service android:name=".alarm.AlarmService" android:exported="false"/>
    <receiver android:name="reboot.RebootBroadcastReceiver"
            android:exported="false">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
    </receiver>
  </application>
</manifest>
